In [1]:
import pandas as pd
import numpy as np

In [2]:
movies_df = pd.read_csv('movies.csv', sep = ';')
genres_df = pd.read_csv('genres.csv', sep = ';')
movie_genres = pd.read_csv('movie_genres.csv', sep = ';')

In [3]:
movies_df.head()

,id,description,image_path,release_date,title,tmdb_id
0,1,"Tanjirō Kamado, joined with Inosuke Hashibira,...",https://www.themoviedb.org/t/p/w600_and_h900_b...,2020-10-16 00:00:00.000000,Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...,635302
1,2,A portal transports Cpt. Artemis and an elite ...,https://www.themoviedb.org/t/p/w600_and_h900_b...,2020-12-03 00:00:00.000000,Monster Hunter,458576
2,3,A botched store robbery places Wonder Woman in...,https://www.themoviedb.org/t/p/w600_and_h900_b...,2020-12-16 00:00:00.000000,Wonder Woman 1984,464052
3,4,After the vicious slaughter of his family by s...,https://www.themoviedb.org/t/p/w600_and_h900_b...,2020-04-12 00:00:00.000000,Mortal Kombat Legends: Scorpion's Revenge,664767
4,5,A group of unlikely heroes from across the Kor...,https://www.themoviedb.org/t/p/w600_and_h900_b...,2019-12-19 00:00:00.000000,Ashfall,581387

In [4]:
movies_df = movies_df.set_index('id')
movies_df.head()

,description,image_path,release_date,title,tmdb_id
id,,,,,
1,"Tanjirō Kamado, joined with Inosuke Hashibira,...",https://www.themoviedb.org/t/p/w600_and_h900_b...,2020-10-16 00:00:00.000000,Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...,635302
2,A portal transports Cpt. Artemis and an elite ...,https://www.themoviedb.org/t/p/w600_and_h900_b...,2020-12-03 00:00:00.000000,Monster Hunter,458576
3,A botched store robbery places Wonder Woman in...,https://www.themoviedb.org/t/p/w600_and_h900_b...,2020-12-16 00:00:00.000000,Wonder Woman 1984,464052
4,After the vicious slaughter of his family by s...,https://www.themoviedb.org/t/p/w600_and_h900_b...,2020-04-12 00:00:00.000000,Mortal Kombat Legends: Scorpion's Revenge,664767
5,A group of unlikely heroes from across the Kor...,https://www.themoviedb.org/t/p/w600_and_h900_b...,2019-12-19 00:00:00.000000,Ashfall,581387

In [5]:
movies_df.shape

(1050, 5)

In [6]:
movies_df.drop(columns = ['image_path', 'release_date', 'tmdb_id'], inplace = True)
movies_df.head()

,description,title
id,,
1,"Tanjirō Kamado, joined with Inosuke Hashibira,...",Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...
2,A portal transports Cpt. Artemis and an elite ...,Monster Hunter
3,A botched store robbery places Wonder Woman in...,Wonder Woman 1984
4,After the vicious slaughter of his family by s...,Mortal Kombat Legends: Scorpion's Revenge
5,A group of unlikely heroes from across the Kor...,Ashfall

In [7]:
movie_genres = movie_genres.set_index('movie_id').join(movies_df)
movie_genres.head()

,genre_id,description,title
1,1,"Tanjirō Kamado, joined with Inosuke Hashibira,...",Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...
1,2,"Tanjirō Kamado, joined with Inosuke Hashibira,...",Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...
1,3,"Tanjirō Kamado, joined with Inosuke Hashibira,...",Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...
1,7,"Tanjirō Kamado, joined with Inosuke Hashibira,...",Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...
1,9,"Tanjirō Kamado, joined with Inosuke Hashibira,...",Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...

In [8]:
movie_genres = movie_genres.set_index('genre_id').join(genres_df.set_index('id'))
movie_genres.head()

,description,title,name
1,"Tanjirō Kamado, joined with Inosuke Hashibira,...",Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...,Action
1,A portal transports Cpt. Artemis and an elite ...,Monster Hunter,Action
1,A botched store robbery places Wonder Woman in...,Wonder Woman 1984,Action
1,After the vicious slaughter of his family by s...,Mortal Kombat Legends: Scorpion's Revenge,Action
1,A group of unlikely heroes from across the Kor...,Ashfall,Action

In [9]:
genres_df.head()

   id       name
0   1     Action
1   2  Adventure
2   3  Animation
3   4     Comedy
4   5      Crime

In [10]:
movie_genres = movie_genres.groupby(['title', 'description'])['name'].apply(' '.join).reset_index()

In [11]:
movie_genres.head()

,title,description,name
0,(500) Days of Summer,"Tom, greeting-card writer and hopeless romanti...",Comedy Drama Romance
1,10,A Hollywood songwriter goes through a mid-life...,Comedy Romance
2,10 Things I Hate About You,"On the first day at his new school, Cameron in...",Comedy Drama Romance
3,100% Wolf,"Freddy Lupin, heir to a proud family line of w...",Animation Family Fantasy
4,101 Dalmatians,An evil high-fashion designer plots to steal D...,Comedy Family

In [12]:
movie_genres = movie_genres.rename(columns = {'name': 'genres'})
movie_genres.head()

,title,description,genres
0,(500) Days of Summer,"Tom, greeting-card writer and hopeless romanti...",Comedy Drama Romance
1,10,A Hollywood songwriter goes through a mid-life...,Comedy Romance
2,10 Things I Hate About You,"On the first day at his new school, Cameron in...",Comedy Drama Romance
3,100% Wolf,"Freddy Lupin, heir to a proud family line of w...",Animation Family Fantasy
4,101 Dalmatians,An evil high-fashion designer plots to steal D...,Comedy Family

In [13]:
movies_df = movie_genres

In [14]:
from nltk.tokenize import word_tokenize
movies_df['original_title'] = movies_df['title'].copy()
movies_df['title'] = movies_df['title'].str.lower()
movies_df['description'] = movies_df['description'].str.lower()
movies_df['genres'] = movies_df['genres'].str.lower()

movies_df['title'] = movies_df['title'].apply(word_tokenize)
movies_df['description'] = movies_df['description'].apply(word_tokenize)
movies_df['genres'] = movies_df['genres'].apply(word_tokenize)

C:\Users\alexa\Anaconda3\lib\site-packages\sklearn\feature_extraction\image.py:167: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.int):
C:\Users\alexa\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:30: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
C:\Users\alexa\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:167: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
C:\Users\alexa\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:284: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_Gram=True, verbose=0,
C:\Users\alexa\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:862: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\Users\alexa\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1101: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\Users\alexa\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1127: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, positive=False):
C:\Users\alexa\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1362: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
C:\Users\alexa\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1602: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
C:\Users\alexa\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1738: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, positive=False):

In [15]:
movies_df.head()

,title,description,genres,original_title
0,"[(, 500, ), days, of, summer]","[tom, ,, greeting-card, writer, and, hopeless,...","[comedy, drama, romance]",(500) Days of Summer
1,[10],"[a, hollywood, songwriter, goes, through, a, m...","[comedy, romance]",10
2,"[10, things, i, hate, about, you]","[on, the, first, day, at, his, new, school, ,,...","[comedy, drama, romance]",10 Things I Hate About You
3,"[100, %, wolf]","[freddy, lupin, ,, heir, to, a, proud, family,...","[animation, family, fantasy]",100% Wolf
4,"[101, dalmatians]","[an, evil, high-fashion, designer, plots, to, ...","[comedy, family]",101 Dalmatians

In [16]:
import nltk
nltk.download('stopwords')
from string import punctuation
from nltk.corpus import stopwords
stopwords = set(stopwords.words('english') + list(punctuation))
stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\alexa\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

{'!',
 '"',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves',
 '{',
 '|',
 '}',
 '~'}

In [17]:
def remove_stopwords(column):
    return column.apply(lambda col: [word for word in col if word not in stopwords])
movies_df['title'] = remove_stopwords(movies_df['title'])
movies_df['description'] = remove_stopwords(movies_df['description'])
movies_df['genres'] = remove_stopwords(movies_df['genres'])
movies_df.head()

,title,description,genres,original_title
0,"[500, days, summer]","[tom, greeting-card, writer, hopeless, romanti...","[comedy, drama, romance]",(500) Days of Summer
1,[10],"[hollywood, songwriter, goes, mid-life, crisis...","[comedy, romance]",10
2,"[10, things, hate]","[first, day, new, school, cameron, instantly, ...","[comedy, drama, romance]",10 Things I Hate About You
3,"[100, wolf]","[freddy, lupin, heir, proud, family, line, wer...","[animation, family, fantasy]",100% Wolf
4,"[101, dalmatians]","[evil, high-fashion, designer, plots, steal, d...","[comedy, family]",101 Dalmatians

In [18]:
movies_df['title'] = movies_df['title'].apply(lambda series : list(set(series)))
movies_df['description'] = movies_df['description'].apply(lambda series : list(set(series)))
movies_df['genres'] = movies_df['genres'].apply(lambda series : list(set(series)))
movies_df.head()

,title,description,genres,original_title
0,"[days, summer, 500]","[affair, rediscovers, dumps, days, try, life, ...","[romance, drama, comedy]",(500) Days of Summer
1,[10],"[becomes, songwriter, goes, hollywood, mid-lif...","[romance, comedy]",10
2,"[hate, things, 10]","[goes, could, sister, bad, nasty, new, kat, ca...","[romance, drama, comedy]",10 Things I Hate About You
3,"[100, wolf]","[line, werewolves, elders, goes, cast, help, n...","[family, animation, fantasy]",100% Wolf
4,"[101, dalmatians]","[coat, evil, plots, steal, puppies, extravagan...","[family, comedy]",101 Dalmatians

In [32]:
#import wget
#url = "https://s3.amazonaws.com/dl4j-distribution/GoogleNews-vectors-negative300.bin.gz"
#filename = wget.download(url)
#filename
#!wget -c "https://s3.amazonaws.com/dl4j-distribution/GoogleNews-vectors-negative300.bin.gz"
import gzip
import shutil
with gzip.open('GoogleNews-vectors-negative300.bin.gz', 'rb') as f_in:
    with open('GoogleNews-vectors-negative300.bin', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

In [33]:
import gensim

wv = gensim.models.KeyedVectors.load_word2vec_format("GoogleNews-vectors-negative300.bin", binary=True)

In [34]:
vocabulary = wv.index_to_key
vocabulary

['</s>',
 'in',
 'for',
 'that',
 'is',
 'on',
 '##',
 'The',
 'with',
 'said',
 'was',
 'the',
 'at',
 'not',
 'as',
 'it',
 'be',
 'from',
 'by',
 'are',
 'I',
 'have',
 'he',
 'will',
 'has',
 '####',
 'his',
 'an',
 'this',
 'or',
 'their',
 'who',
 'they',
 'but',
 '$',
 'had',
 'year',
 'were',
 'we',
 'more',
 '###',
 'up',
 'been',
 'you',
 'its',
 'one',
 'about',
 'would',
 'which',
 'out',
 'can',
 'It',
 'all',
 'also',
 'two',
 'after',
 'first',
 'He',
 'do',
 'time',
 'than',
 'when',
 'We',
 'over',
 'last',
 'new',
 'other',
 'her',
 'people',
 'into',
 'In',
 'our',
 'there',
 'A',
 'she',
 'could',
 'just',
 'years',
 'some',
 'U.S.',
 'three',
 'million',
 'them',
 'what',
 'But',
 'so',
 'no',
 'like',
 'if',
 'only',
 'percent',
 'get',
 'did',
 'him',
 'game',
 'back',
 'because',
 'now',
 '#.#',
 'before',
 'company',
 'any',
 'team',
 'against',
 'off',
 'This',
 'most',
 'made',
 'through',
 'make',
 'second',
 'state',
 'well',
 'day',
 'season',
 'says',
 'week',
 'where',
 'while',
 'down',
 'being',
 'government',
 'your',
 '#-#',
 'home',
 'going',
 'my',
 'good',
 'They',
 "'re",
 'should',
 'many',
 'way',
 'those',
 'four',
 'during',
 'such',
 'may',
 'very',
 'how',
 'since',
 'work',
 'take',
 'including',
 'high',
 'then',
 '%',
 'next',
 '#,###',
 'By',
 'much',
 'still',
 'go',
 'think',
 'old',
 'even',
 '#.##',
 'world',
 'see',
 'say',
 'business',
 'five',
 'told',
 'under',
 'us',
 '1',
 'these',
 'If',
 'right',
 'And',
 'me',
 'between',
 'play',
 'help',
 '##,###',
 'market',
 'That',
 'know',
 'end',
 'AP',
 'long',
 'information',
 'points',
 'does',
 'both',
 'There',
 'part',
 'around',
 'police',
 'want',
 "'ve",
 'based',
 'For',
 'got',
 'third',
 'school',
 'left',
 'another',
 'country',
 'need',
 '2',
 'best',
 'win',
 'quarter',
 'use',
 'today',
 '##.#',
 'same',
 'public',
 'run',
 'Friday',
 'set',
 'month',
 'top',
 'billion',
 'Tuesday',
 'come',
 'Monday',
 'She',
 'city',
 'place',
 'night',
 'six',
 'each',
 'Thursday',
 '###,###',
 'Wednesday',
 'here',
 'You',
 'group',
 'really',
 'found',
 'As',
 'used',
 '3',
 'lot',
 "'m",
 'money',
 'put',
 'games',
 'support',
 'program',
 'half',
 'report',
 'family',
 'months',
 'number',
 'officials',
 'am',
 'former',
 'own',
 'man',
 'Saturday',
 'too',
 'better',
 'days',
 'came',
 'lead',
 'life',
 'American',
 '##-##',
 'show',
 'past',
 'took',
 'added',
 'expected',
 'called',
 'great',
 'State',
 'services',
 'children',
 'hit',
 'area',
 'system',
 'every',
 'pm',
 'big',
 'service',
 'few',
 'per',
 'members',
 'Sunday',
 'early',
 'point',
 'start',
 'companies',
 'little',
 '&',
 'case',
 'ago',
 'local',
 'according',
 'never',
 '5',
 'without',
 'sales',
 'until',
 'went',
 'players',
 '##th',
 'New_York',
 'won',
 'financial',
 'news',
 '4',
 'When',
 'share',
 'several',
 'free',
 'away',
 '##.##',
 'already',
 'On',
 'industry',
 "'ll",
 'call',
 'With',
 'students',
 'line',
 'available',
 'County',
 'making',
 'held',
 'final',
 '#:##',
 'power',
 'plan',
 'might',
 'least',
 'look',
 'forward',
 'give',
 'At',
 'again',
 'later',
 'full',
 'must',
 'things',
 'major',
 'community',
 'announced',
 'open',
 'record',
 'reported',
 'court',
 'working',
 'able',
 'something',
 'president',
 'meeting',
 'keep',
 'March',
 'future',
 'far',
 'deal',
 'City',
 'May',
 'development',
 'University',
 'find',
 'times',
 'After',
 'office',
 'led',
 'among',
 'June',
 'increase',
 'China',
 'John',
 'whether',
 'cost',
 'security',
 'job',
 'less',
 'head',
 'seven',
 'growth',
 'lost',
 'pay',
 'looking',
 'provide',
 '6',
 'To',
 'plans',
 'products',
 'car',
 'recent',
 'hard',
 'always',
 'include',
 'women',
 'across',
 'tax',
 'water',
 'April',
 'continue',
 'important',
 'different',
 'close',
 '7',
 'One',
 'late',
 'decision',
 'current',
 'law',
 'within',
 'along',
 'played',
 'move',
 'United_States',
 'enough',
 'become',
 'side',
 'national',
 'Inc.',
 'results',
 'level',
 'loss',
 'economic',
 'coach',
 'near',
 'getting',
 'price',
 'Department',
 'event',
 'fourth',
 'change',
 'All',
 'small',
 'board',
 'National',
 'So',
 'goal',
 'taken',
 'field',
 'prices',
 'weeks',
 'men',
 'asked',
 'eight',
 'data',
 'shot',
 'New',
 'started',
 'July',
 'director',
 'President',
 'party',
 'federal',
 'done',
 'political',
 'minutes',
 'taking',
 'Company',
 'technology',
 'project',
 'center',
 'leading',
 'issue',
 'though',
 'having',
 'period',
 'likely',
 'scored',
 '8',
 'strong',
 'series',
 'military',
 'seen',
 'trying',
 'What',
 'coming',
 'process',
 'building',
 'behind',
 'performance',
 'management',
 'Iraq',
 'saying',
 'earlier',
 'believe',
 'oil',
 'given',
 'Police',
 'customers',
 'due',
 'following',
 'term',
 'others',
 'statement',
 'international',
 'economy',
 'health',
 'thing',
 'Obama',
 'return',
 'killed',
 'Washington',
 'further',
 'However',
 'doing',
 'face',
 'low',
 'higher',
 'site',
 'once',
 'yet',
 'hours',
 'America',
 'control',
 'received',
 'rate',
 'career',
 'Bush',
 'teams',
 'known',
 'offer',
 'race',
 'ever',
 'experience',
 'playing',
 'name',
 'possible',
 'countries',
 'Mr.',
 'average',
 'together',
 'using',
 '9',
 'cut',
 'While',
 'total',
 'round',
 'young',
 'nearly',
 'shares',
 'member',
 'campaign',
 'media',
 'needs',
 'why',
 'house',
 'issues',
 'costs',
 'fire',
 '##-#',
 'victory',
 'player',
 'began',
 'sure',
 'story',
 'per_cent',
 'North',
 'His',
 'staff',
 'order',
 'war',
 'large',
 'interest',
 'stock',
 'food',
 'research',
 'key',
 'India',
 'South',
 'morning',
 'conference',
 'senior',
 'global',
 'Center',
 'death',
 'person',
 'thought',
 'gave',
 'feel',
 'energy',
 'history',
 'recently',
 'largest',
 'No.',
 'general',
 'official',
 'released',
 'wanted',
 'meet',
 'short',
 'outside',
 'running',
 'live',
 'ball',
 'online',
 'real',
 'position',
 'fact',
 'fell',
 'nine',
 'December',
 'front',
 'action',
 'defense',
 'problem',
 'problems',
 'Mr',
 'nation',
 'needed',
 'special',
 'January',
 'almost',
 'chance',
 "'d",
 'result',
 'West',
 'September',
 'reports',
 'leader',
 'investment',
 'yesterday',
 'Some',
 'leaders',
 'ahead',
 'production',
 'comes',
 'No',
 'runs',
 'match',
 'role',
 'kind',
 'try',
 'ended',
 'risk',
 'areas',
 'election',
 'workers',
 'visit',
 'bring',
 'road',
 'music',
 'study',
 'makes',
 'often',
 'release',
 'woman',
 'vote',
 'care',
 'town',
 'clear',
 'comment',
 'budget',
 'potential',
 'single',
 'markets',
 'policy',
 'capital',
 'saw',
 'access',
 'weekend',
 'operations',
 'whose',
 'net',
 'House',
 'hand',
 'increased',
 'charges',
 'winning',
 'trade',
 'These',
 'income',
 'value',
 'involved',
 'Bank',
 'November',
 'bill',
 'compared',
 'anything',
 'manager',
 'Texas',
 'property',
 'stop',
 'annual',
 'private',
 'contract',
 'died',
 'Now',
 'hope',
 'product',
 'fans',
 'lower',
 'demand',
 'News',
 'David',
 'club',
 'comments',
 'film',
 'yards',
 'quality',
 'currently',
 'events',
 'addition',
 'couple',
 'schools',
 'attack',
 'region',
 'latest',
 'opportunity',
 'worked',
 'course',
 'bad',
 'fall',
 'Group',
 'October',
 'jobs',
 'list',
 'let',
 'however',
 'chief',
 'summer',
 'programs',
 'According',
 'revenue',
 'Our',
 'rose',
 'previous',
 'TV',
 'football',
 'biggest',
 'employees',
 'changes',
 'residents',
 'means',
 'agreement',
 'includes',
 'post',
 'Canada',
 'probably',
 'related',
 'training',
 'allowed',
 'class',
 'bit',
 'video',
 'Michael',
 'An',
 'sent',
 'education',
 'states',
 'straight',
 'love',
 'beat',
 'hold',
 'turn',
 'finished',
 'network',
 'Smith',
 'buy',
 'foreign',
 'especially',
 'groups',
 'wants',
 'title',
 'included',
 'turned',
 'bank',
 'Florida',
 'efforts',
 'personal',
 'businesses',
 'August',
 'California',
 'situation',
 'district',
 'allow',
 'helped',
 'body',
 'nothing',
 'soon',
 'safety',
 'officer',
 'cents',
 'Europe',
 'St.',
 'additional',
 'spokesman',
 'February',
 'wife',
 'showed',
 'leave',
 'investors',
 'parents',
 'medical',
 'spending',
 'non',
 'London',
 'Council',
 'matter',
 'spent',
 'child',
 'World',
 'effort',
 'opening',
 'either',
 'range',
 'question',
 'European',
 'goals',
 'administration',
 'friends',
 'himself',
 'shows',
 'difficult',
 'kids',
 'paid',
 'create',
 'cash',
 'age',
 'league',
 'form',
 'impact',
 'drive',
 'someone',
 'became',
 'stay',
 'fight',
 'significant',
 'firm',
 'Senate',
 'hospital',
 'charged',
 'operating',
 'main',
 'book',
 'success',
 'son',
 'trading',
 '###-####',
 'focus',
 'room',
 'continued',
 'Congress',
 'everything',
 'Park',
 'agency',
 'brought',
 'talk',
 'break',
 'air',
 'software',
 'decided',
 'Do',
 'ready',
 'arrested',
 'track',
 'provides',
 'mother',
 'base',
 'trial',
 'phone',
 'My',
 'build',
 'conditions',
 'rest',
 'Johnson',
 'terms',
 'expect',
 'England',
 'Israel',
 'despite',
 'closed',
 'starting',
 'provided',
 'pressure',
 'lives',
 'step',
 'remain',
 'similar',
 'charge',
 'date',
 'whole',
 'land',
 'growing',
 'James',
 'Internet',
 'projects',
 'British',
 'cases',
 'ground',
 'legal',
 'International',
 'agreed',
 'tell',
 'test',
 'everyone',
 'pretty',
 'authorities',
 'Two',
 'above',
 'moved',
 'profit',
 'throughout',
 'inside',
 'ability',
 'overall',
 'pass',
 'officers',
 'rather',
 'Australia',
 'actually',
 'county',
 'amount',
 'scheduled',
 'themselves',
 'organization',
 'giving',
 'credit',
 'father',
 'drug',
 'investigation',
 'families',
 'Republican',
 'funds',
 'patients',
 'takes',
 'systems',
 'Japan',
 'complete',
 'sold',
 'practice',
 'calls',
 '•',
 'UK',
 'force',
 'student',
 'idea',
 'reached',
 'reason',
 'levels',
 'space',
 'competition',
 'forces',
 'sector',
 'Last',
 'tried',
 'common',
 'homes',
 'stage',
 'department',
 'named',
 'earnings',
 'offers',
 'star',
 'certain',
 'double',
 'longer',
 'followed',
 'cause',
 'Association',
 'signed',
 'committee',
 'hour',
 'college',
 'Pakistan',
 'users',
 'Iran',
 'sign',
 'living',
 'failed',
 'reach',
 'quickly',
 'receive',
 'debt',
 'sale',
 'Board',
 'Americans',
 'Road',
 'Brown',
 'insurance',
 '##:##',
 'anyone',
 'tournament',
 'More',
 'gas',
 'talks',
 'serious',
 'required',
 'sell',
 'construction',
 'evidence',
 'remains',
 'black',
 'below',
 'improve',
 'crisis',
 'address',
 'questions',
 'easy',
 'begin',
 'view',
 'School',
 'heard',
 'executive',
 'raised',
 ...]

In [22]:
movies_df['title'] = movies_df['title'].apply(lambda col: [word for word in col if word in vocabulary])
movies_df['description'] = movies_df['description'].apply(lambda col: [word for word in col if word in vocabulary])
movies_df['genres'] = movies_df['genres'].apply(lambda col: [word for word in col if word in vocabulary])
movies_df.head()

,title,description,genres,original_title
0,"[days, summer]","[affair, rediscovers, dumps, days, try, life, ...","[romance, drama, comedy]",(500) Days of Summer
1,[],"[becomes, songwriter, goes, hollywood, sexy, n...","[romance, comedy]",10
2,"[hate, things]","[goes, could, sister, bad, nasty, new, kat, ca...","[romance, drama, comedy]",10 Things I Hate About You
3,[wolf],"[line, werewolves, elders, goes, cast, help, n...","[family, animation, fantasy]",100% Wolf
4,[dalmatians],"[coat, evil, plots, steal, puppies, extravagan...","[family, comedy]",101 Dalmatians

In [161]:

def preprocess_movie_column(movie, column):
    #print(movie[column])
    movie[column] = movie[column].str.lower()
    movie[column] = movie[column].apply(word_tokenize)
    movie[column] = remove_stopwords(movie[column])
    movie[column] = movie[column].apply(lambda series: list(set(series)))
    movie[column] = movie[column].apply(lambda series: [word for word in series if word in vocabulary])
    return movie

def preprocess(movie):
    movie = preprocess_movie_column(movie, 'title')
    movie = preprocess_movie_column(movie, 'description')
    movie = preprocess_movie_column(movie, 'genres')
    return movie
    
    
def recommend(movies):
    
    #empty_scores_df = pd.DataFrame({'title_score': np.zeros(movies_df.shape[0]), 'description_score': movies_df.shape[0], 'genres_score': movies_df.shape[0]})
    #movies_scores_df = pd.concat([movies_df, empty_scores_df], axis = 'columns')
    movies_scores_df = movies_df.copy()
    titles = set([movie['title'] for movie in movies])
    print(titles)
    cnt = 0
    movies_scores_df['total_score'] = pd.Series(np.zeros(movies_scores_df.shape[0]))
    #print(movies_scores_df.head())
    for movie in movies:
        cnt += 1
        movie_df = pd.DataFrame(movie, index = [0])
        movie_df= preprocess(movie_df)
        #print(np.array(movies_scores_df['title']))
        #print(wv.n_similarity(np.array(movie_df.loc[0]['description']), np.array(movies_scores_df.iloc[0]['description'])))
        movies_scores_df[f'title_score'] = movies_scores_df['title'].apply(lambda title: wv.n_similarity(np.array(movie_df.loc[0, 'title']), np.array(title)) if len(title) > 0 else 0)
        movies_scores_df[f'description_score'] = movies_scores_df['description'].apply(lambda description: wv.n_similarity(np.array(movie_df.loc[0, 'description']), np.array(description)))
        movies_scores_df[f'genres_score'] = movies_scores_df['genres'].apply(lambda genres: wv.n_similarity(np.array(movie_df.loc[0, 'genres']), np.array(genres)))
        #print(movies_scores_df.head())
        movies_scores_df['total_score'] = movies_scores_df['total_score'] + movies_scores_df[f'title_score'] + movies_scores_df[f'description_score'] + movies_scores_df[f'genres_score']
    #print(np.array(movies_scores_df[movies_scores_df.original_title == 'Monster Hunter'].original_title))
    #print(np.array(titles))
    #print(np.isin(np.array(movies_scores_df[movies_scores_df.original_title == 'Monster Hunter'].original_title), np.array(titles)))
    #print(np.isin(np.array(movies_scores_df[movies_scores_df.original_title == 'Monster Hunter'].original_title), titles, assume_unique = True, invert = True))
    movies_scores_df = movies_scores_df.loc[np.invert(movies_scores_df.original_title.isin(titles))]
    return movies_scores_df.sort_values(by = "total_score", ascending = False).head(16)['original_title']

In [162]:
result_df = recommend([{'title':'Monster Hunter', 'description': 'A portal transports Cpt. Artemis and an elite unit of soldiers to a strange world where powerful monsters rule with deadly ferocity. Faced with relentless danger, the team encounters a mysterious hunter who may be their only hope to find a way home.', 'genres': 'Action, Adventure'}])
list(result_df)

{'Monster Hunter'}

['The 13th Warrior',
 'Demon Slayer -Kimetsu no Yaiba- The Movie: Mugen Train',
 'The Man with the Golden Gun',
 'Anacondas: The Hunt for the Blood Orchid',
 'Hercules',
 'Abraham Lincoln: Vampire Hunter',
 'Predator',
 'Pirates of the Caribbean: Dead Men Tell No Tales',
 'Thor',
 'The Hobbit: The Battle of the Five Armies',
 'Batman v Superman: Dawn of Justice',
 'Gladiator',
 'Naruto the Movie: Ninja Clash in the Land of Snow',
 'The Scorpion King: Book of Souls',
 'Pirates of the Caribbean: On Stranger Tides',
 'Thor: The Dark World']

In [163]:
from flask import Flask, request, jsonify
from flask_restful import Resource, Api, reqparse

In [164]:
parser = reqparse.RequestParser()
class Recommender(Resource):
    def post(self):
        movies = request.get_json()
        return list(recommend(movies)), 200

In [ ]:
app = Flask(__name__)
api = Api(app)
api.add_resource(Recommender, '/recommend')
if __name__ == "__main__":
  app.run(debug=True, use_reloader=False)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

{'Monster Hunter'}

127.0.0.1 - - [08/May/2021 14:04:02] "POST /recommend HTTP/1.1" 200 -